@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

.popup_box,
.popup_box2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}
.popup_box,
.popup_box2 {
    width: 450px;
    background: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 40px;
    border: 1px solid #b3b3b3;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    z-index: 9999;
    display: none;
}

.popup_box i,
.popup_box2 i {
    font-size: 60px;
    color: #eb9447;
    border: 5px solid #eb9447;
    padding: 20px 40px;
    border-radius: 50%;
    margin: -10px 0 20px 0;
}

.popup_box h1,
.popup_box2 h1 {
    font-size: 30px;
    color: #1b2631;
    margin-bottom: 5px;
}

.popup_box label,
.popup_box2 label {
    font-size: 23px;
    color: #404040;
}
li {
    display: block
}

.table {
    font-size: 13px;
}

th {
    text-align: center;
}

.navbar-left {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 100px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

.first-col {
    left: 0px;
    min-width: 100px;
    background-color: white !important;
}

.sticky-col {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
}

/* Header fixed to the top of the modal */
.modal-header--sticky {
    /*display: flex;*/
    /*align-items: flex-start;*/
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #e3e6f0;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    position: sticky;
    top: 0;
    background-color: inherit;
    /* [1] */
    z-index: 1055;
    /* [2] */
}

/* Footer fixed to the bottom of the modal */
.modal-footer--sticky {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*justify-content: flex-end;*/
    padding: 0.75rem;
    border-top: 1px solid #e3e6f0;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    position: sticky;
    bottom: 0;
    background-color: inherit;
    /* [1] */
    z-index: 1055;
    /* [2] */
}

.first-col-modal {
    min-width: 250px;
}

.colon-col {
    min-width: 20px;
    max-width: 20px;
}

.dataTables_filter {
    float: right;
    text-align: right;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-select {
    display: block;
    padding: 0.47rem 1.75rem 0.47rem 0.75rem;
    -moz-padding-start: calc(.75rem - 3px);
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #505d69;
    background-color: #fff;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%230a1832' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}